@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Open+Sans&family=Poppins:wght@200&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: var(--font-primaria);
}

:root {
   --cor-primaria: #141416;
   --cor-secundaria: #f6f6f6;
   --cor-terciaria: #fd6262;
   --cor-hover: #272727;

   --font-primaria: "Open Sans", sans-serif;
   --font-titulo: "Poppins", sans-serif;
   --font-logo: "Barlow", sans-serif;
}

body {
   height: 100vh;
   box-sizing: border-box;
   background-color: #141416;
   padding: 0 1% 0 1%;
}

.cabecalho-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 1%;
}

.text-logo {
   font-family: var(--font-logo);
   font-size: 64px;
   font-weight: 500;
   color: #f6f6f6;
   text-decoration: none;
}

.cabecalho-link {
   font-size: 16px;
   text-decoration: none;
   color: #f6f6f6;
   margin: 0 16px 0 16px;
}

#cabecalho-link-cadastro {
   border: 1px solid #f6f6f6;
   border-radius: 5px;
   padding: 12px 24px 12px 24px;
   text-decoration: none;
   color: #f6f6f6;
}

#cabecalho-link-cadastro:hover {
   border: 1px solid #889ce7;
   background-color: #889ce7;
   color: #141416;
}

.apresentacao {
   display: flex;
   flex-direction: column;
   align-content: flex-start;
   align-items: flex-start;
   padding: 0 1% 0 1%;
   margin: 32px 32px 88px 32px;
}

.title {
   font-family: var(--font-titulo);
   font-size: 64px;
   color: #f6f6f6;
   margin-bottom: 16px;
   font-weight: 800;
}

.subtitle {
   font-size: 32px;
   font-weight: 500;
   color: #f6f6f6;
}

.text {
   font-size: 24px;
   font-weight: 500;
   color: #f6f6f6;
   /* margin-top: 16px;
   margin-bottom: 16px; */
   margin: 16px 0;
}

.apresentacao-botao {
   border: 1px solid #fd6262;
   border-radius: 5px;
   padding: 12px 24px 12px 24px;
   text-decoration: none;
   background-color: #fd6262;
   color: #141416;
   margin-top: 16px;
}

.apresentacao-botao:hover {
   border: 1px solid #f6f6f6;
   background-color: #141416;
   color: #f6f6f6;
}

.about {
   margin: 32px 32px;
   border: 1px solid #333;
   display: flex;
}

.about-left {
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border-right: 1px solid #333;
   padding: 5%;
   background-image: url(../assets/background-2-40-opacidade.png);
   background-size: cover;
   background-repeat: no-repeat;
}

.about-right {
   width: 50%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
   padding: 1%;
}

.title-about {
   font-family: var(--font-titulo);
   color: #fff;
   font-size: 32px;
   margin-bottom: 24px;
   font-weight: 800;
}

.text-about {
   color: #adadad;
   text-align: left;
   width: 70%;
}

.cards {
   display: flex;
   flex-direction: column;
   margin: 32px auto;
}

.cards-top {
   display: flex;
}

.cards-bottom {
   display: flex;
   margin-top: 8px;
}

.card {
   border: 1px solid #333;
   box-shadow: 0px 0px 10px #141416;
   border-radius: 10px;
   width: 240px;
   padding: 4%;
   margin: 16px;
}

.card-title {
   color: #889ce7;
   font-size: 16px;
   margin-bottom: 8px;
}

.card-descricao {
   color: #8f8f8f;
   font-size: 14px;
}

.space {
   padding: 1%;
}